<ion-header>
  <ion-toolbar>
    <ion-title>
      Facebook Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding >
  <div class="intro">
      Tap the button below to log-in with Facebook
  </div>
  <div class="btn_container">
      <ion-button expand="full" (click)="loginAction();">Login with Facebook</ion-button>
  </div>
  <div *ngIf="loginSuccess == true;" >
      <div>
        <p>User: {{loginData.name}}</p>
        <p>Id: {{loginData.id}}</p>
      </div>
      <div>
          <ion-button expand="full" (click)="sendMessage();">Send Message</ion-button>
      </div>
  </div>
</ion-content> 
